*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/androidTestResultsUserPreferences.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/other.xml
/functions/.eslintrc.js
/.firebaserc
/functions/.gitignore
/database-debug.log
/firebase.json
/firebase-debug.log
/firestore.indexes.json
/firestore.rules
/firestore-debug.log
/functions/index.js
/functions/src/index.ts
/functions/package.json
/functions/package-lock.json
/functions/tsconfig.dev.json
/functions/tsconfig.json
/ui-debug.log
/app/release/app-release.apk
/app/release/baselineProfiles/0/app-release.dm
/app/release/baselineProfiles/1/app-release.dm
/app/release/output-metadata.json
